
@media(max-width:600px)
{
    header
    {
        background: black!important;
    }
}

.about-us
{
    height: 60vh;
    background-image: url("/img/bg/aboutusbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.about-us::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.521);
    z-index: -1;
}

.about-us-inner
{
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.about-us-main-heading
{
    font-size: 35px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.76);
    margin-bottom: 15px;

}
.about-us-main-txt
{
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.76);

}

.about-us-sub-txt
{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.76);
}
.about-us-greeting-txt
{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.76);

}


@media(max-width:600px)
{
   
    
   
    .about-us-main-heading
    {
        font-size: 25px;
     
    
    }
    .about-us-main-txt
    {
        font-size: 18px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.76);
    
    }
    
    .about-us-sub-txt
    {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.76);
    }
    .about-us-greeting-txt
    {
        margin-top: 15px;
        font-size: 25px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.76);
    
    }
    
}

.client-heading
{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 35px;
}