.nav-item-container {
  display: flex;
  background-color: $color-black-secondary;
  width: 100%;
  align-items: flex-start;
  min-height: 80vh;
  margin-bottom: 2px solid $color-black;
  animation: all 0.2s;
}
// ALLT THE  THREE NAV CONTAINERS
.nav-item {
  &__category {
    align-self: stretch;
    background-color: $color-black-tertiary;
    width: 24%;

    min-height: 80vh;
    font-family: "Poppins", sans-serif;
  }
  &__category-sub {
    background-color: $color-black-secondary;
    border-right: 1px solid $color-black;
    width: 25%;
    height: 80vh;
  }
  &__category-sub-products {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: $color-black-tertiary;
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-black-secondary; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid $color-base; /* creates padding around scroll thumb */
    }
  }
}

// THE SINGLE PRODUCT
.single-product {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid $color-black;
  border-radius: 10px;
  background-color: $color-black;

  &__image {
    width: 100%;
    margin-right: 2rem;
    height: 100%;
    padding: 0 1rem;
    border-radius: 10%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    justify-content: flex-start;
    &-name {
      font-size: 1.5rem;
      color: $color-gold;
    }
    &-description {
      font-size: 1.3rem;
      margin: 0;
    }
  }
}

// LIST CATEGORY STYLING
.list-category {
  list-style: none;
  padding: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation: all 0.3s;
  &-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: 2rem 3rem;
    color: $color-heading-secondary;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  &-item:hover {
    background-color: $color-base;
  }
  &-item-icon {
    font-size: 1.2rem;
    margin-right: 5px;
    padding: 5px;
    color: $color-heading-secondary;
  }
}
/////////////////////////////////////////////////
// DISPLAY THE NAV BAR ON HOVER BY THE products button

#products:hover > * {
  color: $color-base;
  font-weight: 700;
  font-stretch: ultra-expanded;
  background-color: $color-black-tertiary;
}

// SET
