body
{
    background-image: url("/img/mainbg.png");
    background-size: 100% 100%;
}

header
{
    background-image: url("/img/mainbg.png");
    
}

.first-container
{
    margin-top: 10em;
}
.first-container-inner
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.first-container-left
{
    width: 40%;
    /* padding: 40px; */
    max-width: 60%;
    /* height: 500px;
    width: 600px; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;

}
.first-container-right
{
    display: block;
    width: 40%;
}
.fcr-sub-heading
{
    color: #fd871f;
}
.fcr-heading
{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: #fd871f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fcr-information
{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    font-size: 17px;
}

.fcr-btns
{
border: 2px solid;
border-color: #fd871f;
background-color: transparent;
margin-bottom: 10px;
width: 70%;
border-radius: 10px;
padding: 10px 10px;
font-size: 20px;
color: #fd871f;
cursor: pointer;
}

.fcr-btns:hover {
    background-color: #fd871f;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.fcr-btns i
{
    padding-left: 10px;
    padding-right: 10px;
}

.second-container
{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.scl-ul-li
{
    color: rgba(255, 255, 255, 0.747);
font-size: 17px;
line-height: 1.87;
}

.contact-popup
{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(29, 29, 29, 0.795);
    z-index: 121312314;
}
.contact-popup-inner{
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-popup-close
{
    position: absolute;
    top: 18%;
    font-size: 30px;
}


.contact-popup-close:hover
{
transform: scale(1.2) rotate(180deg);
color: rgb(255, 115, 0);
cursor: pointer;
transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.contact-popup-img

{
    max-width: 100%;
    width: 40%;
    border-radius: 8px;
    animation: imagerotate 0.8s;
}


.contact-popup-img:hover
{
    background:transparent;
    
}
@keyframes imagerotate{
    50% {
        transform: rotateZ(0);
      }
      50% {
        transform: rotateZ(100deg);
      }
    
}

@media(max-width:600px)
{
    .first-container-inner
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-popup-img

{
    max-width: 100%;
    width: 90%;
    border-radius: 8px;

}
.first-container-right
{
    width: 100%;
    margin-top: 20px;
}
.first-container-left
{

width: 100%;
}
.fcr-heading
{
    font-size: 35px;
}
.fcr-sub-heading {

    text-align: center;
}
}

.contact-us-form
{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: 987878787;
background: rgba(0, 0, 0, 0.233);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact-form-inner
{
    width: 40%;
    margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(20, 20, 20);
  padding: 90px 10px;
  padding-bottom: 40px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.contact-form-popup
{
    display: flex;
    flex-direction: column;
    width: 90%;
}



.contact-form-popup input
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding:12px 10px;
    border-radius: 8px;
    font-size: 18px;
    border:1px solid black;
    background: black;
    font-weight: 400;
}

.contact-form-popup button
{
    margin-top: 5px;
    padding:15px 5px;
    border-radius: 8px;
    color: white;
    border:1px solid black;
    background: rgb(206, 146, 16);
    font-size: 20px;
}
.contact-form-popup-header
{
    position: absolute;
    top: 0;
    height: 60px;
    background: rgb(206, 146, 16);
left: 0;
right: 0;
text-align: center;
display: flex;
justify-content: space-between;
padding:0px 15px;
align-items: center;

}
.contact-form-popup-header span
{
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.contact-form-popup-header span:nth-child(2)
{
    cursor: pointer;
}

@media(max-width:800px)
{
    .contact-form-inner
{
    width: 98%;
}
}